#asidePrincipal {
    grid-area: asidePrincipal;
    position: sticky;
    display: inline-block;
    top: 0px;
    background-color: #041C32;
    color: lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: .3s;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}

@media only screen and (min-width: 992px) {
    #asidePrincipal:hover {
        position: sticky;
        display: inline-block;
        top: 0px;
        z-index: 2;
        width: 250px;
        height: 100%;
        transition: .3s;
    }

    #asidePrincipal div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    #asideOpciones {
        display: flex;
        flex-wrap: wrap;
    }

    #asideOpciones div {
        width: 100%;
        padding: 10px;
        height: 90px;
    }

    #asidePrincipal .divServicioAside:hover {
        cursor: pointer;
        background-color: #08274C;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #iconoPerfilAside {
        display: none;
    }
    
    #iconoPerfilAside img {
        display: none;
    }
}

#asidePrincipal h3 {
    color: white;
}

/*#asidePrincipal .asideElInfo {
    visibility: hidden;
}

#asidePrincipal:hover .asideElInfo {
    visibility: visible;
}*/

#asidePrincipal .ocultarAsideHover {
    position: absolute;
    top: -9999px;
}

#asidePrincipal:hover .ocultarAsideHover {
    position: static;
}

#asidePrincipal .ocultarAsideClic {
    position: static;
}

#asidePrincipal h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#asidePrincipal .divServicioAside {
    border-top: 1px solid rgb(0, 0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0, 0);
}

#asidePrincipal .asideTitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px;
}

#asidePrincipal .asideTitulo img {
    filter: invert(.85);
    width: 25px;
    height: 25px;
}

#asidePrincipal .asideTitulo img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
}

.asideCollapse {
    transform: rotate(90deg);
    transition: 0.3s;
}

.asideNoCollapse {
    transform: rotate(-90deg);
    transition: 0.3s;
}

#asidePrincipal .divServicioAside img {
    transition: .5s;
    transform: scale(1);
}

#asidePrincipal .divServicioAside:hover img {
    transition: .5s;
    transform: scale(1.15);
}

#asidePrincipal .divServicioAside img {
   width: 40px; 
   height: 40px;
   filter: invert(1);
}

#asidePrincipal .divServicioAside .asideElInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#asidePrincipal .divServicioAside .asideElInfo p {
    margin: 0px;
    white-space:nowrap;
}

#asidePrincipal .divServicioAside .asideElInfo p:first-child {
    color: white;
    font-size: 17px;
}

@media only screen and (max-width: 991px) {
    #navBarPrincipal {
        grid-area: menu;
    }

    #principal {
        grid-area: main;
    }

    #asidePrincipal {
        all: unset;
        grid-area: asidePrincipal;
        background-color: #041C32;
        color: lightgray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 75px;
    }

    #asideOpciones {
        flex-direction: row !important;
        text-align: center;
        justify-content: space-between !important;
        flex-grow: 3;
    }

    #asideOpciones div {
        padding: 10px;
        width: 33%;
    }

    #asidePrincipal .asideElInfo {
        visibility: visible;
        padding: 0px;
    }
    
    #asidePrincipal .asideTitulo {
        display: none;
    }
    
    #asidePrincipal > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 5px;
    }

    #asidePrincipal .divServicioAside {
 
    }
    
    #asidePrincipal .divServicioAside:hover {
        cursor: pointer;
        background-color: #08274C;
    }

    #asidePrincipal .divServicioAside img {
        transition: .5s;
        transform: scale(1);
        width: 30px; 
        height: 30px;
        filter: invert(1);
    }
    
    #asidePrincipal .divServicioAside:hover img {
        transition: .5s;
        transform: scale(1.15);
    }

    #asidePrincipal .asideElInfo {
        position: static;
        width: 100%;
    }
    
    #asidePrincipal .divServicioAside .asideElInfo p:first-child {
        color: white;
        font-size: 16px;
        margin: 0 auto;
    }

    #asidePrincipal .divServicioAside .asideElInfo p:nth-child(2) {
        display: none;
    }        

    #iconoPerfilAside {
        width: 25%;
    }

    #iconoPerfilAside img {
        width: 60px;
        height: 60px;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 100%;
        background-color: rgb(231, 231, 231);
    }
    
    #iconoPerfilAside img:hover {
        cursor: pointer;
    }

    #btnChat {
        outline: 5px solid rgb(245, 245, 245);
        border-radius: 50%;
        position: fixed;
        height:60px;
        width: 60px;
        left:50%;
        margin-left:-30px;
        bottom: 50px;
        margin-top:-30px;
        color: white;
        padding: 5px 10px;
        transition: 0.3s;
        background-color: #055759;
        z-index: 100;
    }

    #btnChat input { 
        width: 45px;
        height: 45px;
        filter: invert(1);
    }
}

@media only screen and (max-width: 530px) {
    #asidePrincipal {
        height: 65px;
    }

    #asidePrincipal .divServicioAside img {
        transition: .5s;
        transform: scale(1);
        width: 20px; 
        height: 20px;
        filter: invert(1);
    }
    
    #asidePrincipal .divServicioAside:hover img {
        transition: .5s;
        transform: scale(1.15);
    }
    
    #asidePrincipal .divServicioAside .asideElInfo p:first-child {
        color: white;
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #iconoPerfilAside img {
        width: 47px;
        height: 47px;
    }

    #btnChat {
        height: 50px;
        width: 50px;
        bottom: 45px;
    }

    #btnChat input {
        width: 35px;
        height: 35px;
        filter: invert(1);
    }
}

@media only screen and (max-width: 300px) {
    #asidePrincipal .divServicioAside img {
        width: 15px; 
        height: 15px;
    }
    #iconoPerfilAside img {
        width: 35px;
        height: 35px;
    }
    #asidePrincipal .divServicioAside .asideElInfo p:first-child {
        font-size: 11px;
    }

    #btnChat {
        height: 40px;
        width: 40px;
        bottom: 45px;
        left:55%;
    }

    #btnChat input {
        width: 25px;
        height: 25px;
        filter: invert(1);
    }
}