#divCalendario {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: .5em;
    padding-bottom: 6em;
}

#divMenuCalendarioMovil {
    display: none;
}
/*Calendario Dia Festivo*/

#divCalendario .divCalendarioOp {
    width: 50%;
}

#btnAnyadirDiaFest {
    margin: .5em 0em;
}

#divCalDiasFest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}   

#divCalDiasFest a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#divCalDiasFest .divFilaDiaFest {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    padding-left: 5px;
    margin: 5px 0px;
}

#divCalDiasFest .divFilaDiaFest:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
}

#divCalDiasFest .divNDiaFest {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 1em;
    margin-right: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#divCalDiasFest .divContenidoDiaFest {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 80px;
    color: black;
}

#divCalDiasFest .divContenidoDiaFest p {
    margin: 0px;
    display: inline;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

#divCalDiasFest .divContenidoDiaFest .divDiaFestNombre {
    font-weight: bold;
}

.divFilaDiaFest .btnEliminar {
    width: 30px;
    height: 100%;
    padding: 1.9em 0.3em;
    align-self: flex-end;
}

.divRadioColores {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding: 1.2em 0em;
    gap: 20px;
    outline: 1px solid black;
    box-shadow: 2px 2px 4px black;
}

.divRadioColores div {
    width: 20%;
}

.divRadioColores input[type="radio"] {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    transition: 0.3s;
    border-radius: 15px 5px;
}

.divRadioColores input[type="radio"]:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.divRadioColores input[type="radio"]:checked {
    background-image: none;
    outline: 3px solid black;
    box-shadow: 4px 4px 8px black;
    border: 0px;
    transform: scale(1.15);
}

.divRadioColores .azul, .azul {
    background-color: dodgerblue !important;
}

.divRadioColores .rojoOscuro, .rojoOscuro {
    background-color: darkred !important;
}

.divRadioColores .purpura, .purpura {
    background-color: purple !important;
}

.divRadioColores .cianOscuro, .cianOscuro {
    background-color: darkcyan !important;
}

.divRadioColores .verde, .verde {
    background-color: green !important;
}

.divRadioColores .naranja, .naranja {
    background-color: orangered !important;
}

.divRadioColores .rosa, .rosa {
    background-color: deeppink !important;
}

.divRadioColores .amarillo, .amarillo {
    background-color: goldenrod !important;
}

.divRadioColores .rojoclaro, .rojoclaro {
    background-color: red !important;
}

.divRadioColores .oliva, .oliva {
    background-color: olivedrab !important;
}

.bordePendiente {
    border-top: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
    background-color: rgba(218, 165, 32, 0.07);
}

.bordeAceptada {
    border-top: 5px solid olivedrab;
    border-right: 5px solid olivedrab;
    background-color: rgba(107, 142, 35, 0.07);
}

.bordeRechazada {
    border-top: 5px solid darkred;
    border-right: 5px solid darkred;
    background-color: rgba(139, 0, 0, 0.07);
}

.bordeExpirado {
    border-top: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
    background-color: rgba(176, 196, 222, 0.07);
}

/*Calendario Solicitar Días*/
.divFilaDiaSolicitado {
    position: relative;
    border-radius: 15px;
}

.divFilaDiaSolicitado > * {
    padding: .35em 1em;
}

.divFilaDiaSolicitado .accordion-button, .divFilaDiaSolicitado .accordion-body {
    padding: 8px 20px;
}

#divMenuDiasSol {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0em 1em;
    margin-bottom: .5em;
    border-bottom: 2px solid gray;
}

.btnMenuDiasSol {
    width: 30px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.btnMenuDiasSolSlc {
    border-bottom: 3px solid dodgerblue;
}

.divAsunto {
    margin-top: 30px;
}

.divFechaSolicitud {
    display: flex;
    flex-direction: row;
}

.divFechaSolicitud img {
    width: 30px;
    margin-right: 15px;
    filter: invert(.25);
}

.divFooterDiaSol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divFooterDiaSol a {
    cursor: pointer;
    color: darkblue;
    font-weight: bold;
}

.divFooterDiaSol a:hover {
    color: purple;
}

.divEstadoSolicitud {
    position: absolute;
    right: 0;
    padding: 0px;
}

.divEstadoSolicitud * {
    padding: 5px;
    color: white;
    font-weight: bolder;
}


@media only screen and (max-width: 991px) {
    #divMenuCalendarioMovil {
        display: flex;
        justify-content: space-around;
    }

    #divMenuCalendarioMovil span {
        text-align: center;
        border-bottom: 2px solid lightgreen;
        width: 50%;
        margin: 0px 5px;
        font-style: italic;
    }

    #divCalendario {
        display: flex;
        flex-direction: row;
        gap: 0px 20px;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    
    #divCalendario .divCalendarioOp {
        width: 100%;
        min-width: 100%;
        scroll-snap-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #divCalDiasFest .divFilaDiaFest {
        height: 60px;
    }
    
    #divCalDiasFest .divNDiaFest {
        width: 50px;
        height: 50px;
        padding: 1em;
        font-size: 25px;
    }
    
    #divCalDiasFest .divContenidoDiaFest {
        justify-content: space-evenly;
    }

    #divCalDiasFest .divContenidoDiaFest p {
        font-size: 14px;
    }
    
    #divCalDiasFest .divContenidoDiaFest .divDiaFestNombre {
        font-weight: bold;
    }
    
    .divFilaDiaFest .btnEliminar {
        width: 25px;
        padding: 1.1em 0.2em;
        align-self: flex-end;
    }

    .btnMenuDiasSol {
        width: 20px;
        margin-left: 20px;
        padding-bottom: 5px;
    }
}

/* MODAL RESOLUCIÓN */
#formResolucionDia > * {
    padding: .5em;
}

#formDiaFest .btn-close, #formSolicitarDias .btn-close {
    filter: invert(0) !important;
}