* {
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

.navbar {
    background-color: #F2EEF7 !important;
    z-index: 1;
}

.navbar a {
    font-weight: bold;
}

.navbar a:hover {
    color: darkgoldenrod !important;
}

#menuInicioDesplegable {
    display: none;
}

#menuInicio ul {
    float: right;
}

#menuInicio ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    text-align: center;
}

#menuInicio ul a {
    width: 200px;
    color: white;
    font-size: 20px;
    padding: 20px 0px;
    text-decoration: none;
}

#menuInicio ul a:hover {
    border-bottom: 2px solid #BFAC69;
    cursor: pointer;
}

#carruselInicio {
    background: rgba(8, 39, 76, 0.80);
}

#divInicio {
    background: rgb(8, 39, 76);
    height: 700px;
    color: white;
    text-align: center;
    padding: 15px;
}

#contenidoCarrusel {
    height: 100%;
}

#divContenidoCarrusel {
    height: 100%;
}

#logotipo img {
    width: 180px;
}

.carousel-inner {
    z-index: -1;
}

.carousel-inner img {
    position: relative;
    background-blend-mode: multiply;
    width: 100%;
    height: 750px;
}

#carruselInicio p {
    padding: 10px 100px;
}

#btnLogin {
    transition: .5s;
    border: 3px solid #BFAC69;
    background-color: #BFAC69;
    padding: .75em 2.5em;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#btnLogin:hover {
    transition: .5s;
    cursor: pointer;
    color: white;
    background-color: #806e30;
    border: 3px solid #806e30;
    box-shadow: 3px 3px 6px black;
}

#divServicios {
    text-align: center;
    padding-top: 15px;
    background-color: #F2EEF7;
}

#divServicios h1 {
    color: #1B4A56;
    font-weight: normal;
}

#divServicios hr {
    width: 50px;
    margin: 0px auto;
    margin-top: 15px;
    border: 2px solid #FF2768;
    border-radius: 50%;
}

#divServicios div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    max-width: 1500px;
    margin: 0 auto;
}

#divServicios div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

#divServicios div div * {
    margin: 10px 0px;
}

#divServicios div div h2 {
    color: #FF2768;
    font-weight: normal;
}

#divServicios div div p {
    font-style: italic;
}

#divServicios div img {
    width: 80px;
    border-left: 2.5px solid #1B4A56;
    border-right: 2.5px solid #1B4A56;
    padding: 15px;
    border-radius: 20px;
}

#divUbiInfoEmpresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F0E1DE;
    padding: 2em 0em;
}

#divInfoEmpresa {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin: 4px 15px;
    border-left: 2px solid #F7C9B6;
    border-right: 3px solid #F7C9B6;
    border-radius: 100px;
}

#divInfoEmpresa h2 {
    color: #549BAD;
}

#divInfoEmpresa p {
    font-style: italic;
}

#divUbi {
    padding: 0px 20px;
    margin: 4px 15px;
}

#divUbi iframe {
    width: 500px;
    height: 500px;
}

/*imgFija*/
.imgFija {
    background-image: url(../img/carrusel4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    gap: 30px 0px;
    padding: 0em 1em;
    color: azure;
    text-align: center;

}

.imgFija h1 {
    font-size: 55px;
}

.imgFija p {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #divUbi iframe {
        width: 380px;
        height: 380px;
    }
}

@media only screen and (max-width: 400px) {
    #divUbi {
        padding: 0px 5px;
    }
    #divUbi iframe {
        width: 200px;
        height: 200px;
    }
}

#infoFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #08274C;
    color: white;
}

#infoFooter div {
    margin: 0 auto;
    padding: 40px 0px;
}

@media only screen and (max-width: 400px) {
    #infoFooter div {
        width: 210px;
        margin: 0 auto;
        padding: 10px 0px;
    }
}

#infoFooter a,
.accordion-item,
.accordion-item a {
    color: white;
}

#infoFooter a:hover,
.accordion-item a:hover {
    color: #BFAC69;
}

#infoFooter img,
.accordion-item img {
    width: 30px;
    margin-left: 10px;
}

#infoFooter img:hover,
.accordion-item img:hover {
    cursor: pointer;
}

#footerLogo {
    width: 50%;
    text-align: center;
}

#footerLogo p {
    padding: 10px 80px;
}

@media only screen and (max-width: 1250px) {
    #footerLogo {
        width: 1000px;
        text-align: center;
        padding: 10px 50px;
    }
    #footerLogo p {
        padding: 10px 20px;
    }
}

#footerLogo img {
    width: 150px;
    padding-bottom: 30px;
}

#footerRedes {
    width: 25%;
    padding-left: 50px;
}

#footerRedes div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0px;
}

#footerRedes div img,
.accordion-item div img {
    margin: 0em .5em;
}

#footerRedes a,
.accordion-item a {
    text-decoration: none;
}

#footerContacto {
    width: 25%;
    padding-left: 50px;
}

#footerContacto div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0px;
}

#footerContacto div a {
    margin: 0em .5em;
    text-decoration: none;
}

.accordion-button {
    background-color: #08274C !important;
    color: white !important;
    font-weight: bold;
    font-size: 19px !important;
}

.accordion-button::after {
    background-image: none !important;
    content: "+" !important;
    position: relative;
    bottom: 4px;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "-" !important;
    transform: unset !important;
    position: relative;
    bottom: 4px;
}

.accordion-body {
    padding: 0px !important;
}

.accordion-body a {
    display: block;
    padding: 12px;
}

.accordion-body a:hover {
    background-color: #041C32;
}

.accordion hr {
    margin: 0px;
    padding: 1px;
    background-color: white;
}

.accordion-item {
    background-color: #08274C !important;
}

.accordion-button:focus {
    box-shadow: 0px 0px 0px 0px #08274C !important;
}

#copyrightPoliticas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #041C32;
    padding: 5px 0px;
    color: white;
}

#copyrightPoliticas div {
    width: 650px;
    margin: 0 auto;
}

#copyrightPoliticas a {
    color: white;
    text-decoration: none;
}

#copyrightPoliticas a:hover {
    color: #BFAC69;
}

#copyrightPoliticas small {
    font-weight: bold;
}