* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

*:hover {
    text-decoration: none;
}

hr {
    color: red;
}

#contenido {
 
}

.noColapsarContenido {
    /*resize: both;
    overflow: auto;*/
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: 80px repeat(3,1fr);
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-areas:
    "menu menu menu menu"
    "asidePrincipal main main main"
    "asidePrincipal main main main"
    "asidePrincipal main main main"; 
}

.colapsarContenido {
    /*resize: both;
    overflow: auto;*/
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: 80px repeat(3,1fr);
    grid-template-columns: 60px repeat(3,1fr);
    grid-template-areas:
    "menu menu menu menu"
    "asidePrincipal main main main"
    "asidePrincipal main main main"
    "asidePrincipal main main main"; 
}

#tablaEmpleados_wrapper {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    #contenido {
        grid-template-rows: 80px repeat(3,1fr) 70px;
        grid-template-columns: repeat(4,1fr);
        height: 200vh;
        grid-template-areas:
        "menu menu menu menu"
        "main main main main"
        "main main main main"
        "main main main main"
        "asidePrincipal asidePrincipal asidePrincipal asidePrincipal";  
    }

    .noColapsarContenido {
        all: unset;
    }

    .colapsarContenido {
        all: unset;
    }
}

/* TABLA  EMPLEADOS */

#tablaEmpleados_wrapper .row {
    padding: 20px 0px;
}

#tablaEmpleados input[type=image] {
    width: 35px;
    height: 35px;
}

#tablaEmpleados thead, #tablaEmpleados tbody tr {
    height: 55px;
    width: auto;
}

#tablaEmpleados thead {
    background-color: #055759;
    color: white;
}

#tablaEmpleados thead th {
    padding-left: 20px;
    text-align: center;
}

#tablaEmpleados thead th:last-child, #tablaEmpleados thead th:first-child {
    cursor: unset;
    width: 10px;   
}

#tablaEmpleados tbody td:last-child, #tablaEmpleados tbody td:first-child {
    display: flex;
    justify-content: center;
    width: 100px;
}

#tablaEmpleados thead th:last-child::before, #tablaEmpleados thead th:first-child::before {
    content: '';
}

#tablaEmpleados thead th:last-child::after, #tablaEmpleados thead th:first-child::after {
    content: '';
}

#tablaEmpleados tbody td {
    text-align: center;
}

#tablaEmpleados {
    background-color: white;
}

/*#tablaEmpleados tbody > tr:nth-child(even) {
    background: #aaa
}

#tablaEmpleados tbody > tr:nth-child(odd) {
    background: #fff
}*/

#tablaEmpleados td.child {
    background-color: white;
}

#tablaEmpleados td.child ul {
    width: 100%;
}

#tablaEmpleados td.child li {
    text-align: left;
    padding-left: 15px;
    width: 100%;
}

#tablaEmpleados_info {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: clip;
}

ul.dtr-details {
    margin: 0 auto;
}

.imgEmpleadoTabla {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.imgEmpleadoTabla img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 100%;
}

@media only screen and (max-width: 850px) {
    .imgEmpleadoTabla {
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
    }
}


/*
.error {
    color: red;
    text-align: center;
    padding-bottom: 1em;
}

.infoMensajeCorrecto {
    color: green;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
}

.tabla {
    display: table;
    width: 1500px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid darkcyan;
}

.tabla input {
    width: 100%;
}

.tituloTabla {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.cabeceraTabla {
    display: table-row;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: darkcyan;
    color: white;
}

.fila {
    display: table-row;
    height: 65px;
    font-size: 16px;
}

.fila:nth-child(even) {
    background: #bbb
}

.fila:nth-child(odd) {
    background: #fff
}

.celda {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    width: 200px;
}

.celda:last-child {
    width: 60px;
}
*/
.divBtnEmpleado {
    height: 65px;
    display: flex;
    align-items: center;
    margin-right: .5em;
    width: 70px;
}

.divBtnEmpleado button {

}

.divBtnEmpleado input:hover {
    cursor: pointer;
}

.btnEditar {
    background-color: rgb(161, 79, 202);
    padding: .5em;
    border-radius: 10px 0px 0px 10px;
    transition: 0.3s;
}

.btnEliminar {
    background-color: rgb(255, 81, 81);
    padding: .5em;
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s;
}

.btnEditar:hover {
    background-color: rgb(154, 57, 202);
}

.btnEliminar:hover {
    background-color: red;
}

.mensajeInfo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


/* alert */

.divAlert {

}

/*
#formCrearEmpleado {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto;
    border: 5px solid #08274c;
    border-radius: 50px;
    padding: 1em;
    box-shadow: 6px 6px 12px black;
}

#formCrearTablonAnuncio {
    display: flex;
    flex-direction: column;
    width: 1225px;
    margin: 10px auto;
    border: 5px solid #08274c;
    border-radius: 50px;
    padding: 3em 2em 2em 2em;
    box-shadow: 6px 6px 12px black;
}

#formCrearTablonAnuncio input[type="radio"] {
    margin: .5em 1em;
}

#formCrearEmpleado h2 {
    color: #08274C;
    font-size: 25px;
    padding-bottom: 9px;
}

#formCrearEmpleado fieldset,
#formCrearTablonAnuncio fieldset {
    border: none;
    padding-bottom: 1em;
}

#formCrearEmpleado legend,
#formCrearEmpleado label,
#formCrearTablonAnuncio legend,
#formCrearTablonAnuncio label {
    font-weight: bold;
    font-size: 17px;
    color: #2C8CA4;
}

#formCrearEmpleado input[type="text"],
#formCrearEmpleado input[type="password"],
#formCrearEmpleado input[type="email"],
#formCrearTablonAnuncio input[type="text"] {
    font-size: 15px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: none;
}

#formCrearEmpleado input[type="text"]:hover,
#formCrearEmpleado input[type="password"]:hover,
#formCrearEmpleado input[type="email"]:hover,
#formCrearTablonAnuncio input[type="text"]:hover {
    box-shadow: none;
    border-bottom: 2px solid #BFAC69;
}

#formCrearEmpleado input[type="text"]:focus,
#formCrearEmpleado input[type="password"]:focus,
#formCrearEmpleado input[type="email"]:focus,
#formCrearTablonAnuncio input[type="text"]:focus {
    border-bottom: 2px solid #BFAC69;
    box-shadow: 0px 10px 5px -5px #BFAC69;
}

#formCrearTablonAnuncio textarea {
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    padding: 1.5em;
}

#formCrearEmpleado select,
#formCrearTablonAnuncio select {
    width: 150px;
}

#divBtnCrearEmpleado,
#divBtnCrearTablon {
    margin: 0 auto;
}

#btnCrearEmpleado,
#btnCrearTablon {
    transition: .5s;
    border: 3px solid #BFAC69;
    background-color: azure;
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

#btnCrearEmpleado:hover,
#btnCrearTablon:hover {
    transition: .5s;
    cursor: pointer;
    color: white;
    background-color: #BFAC69;
    box-shadow: 3px 3px 6px black;
}

.infoPerfil {
    position: absolute;
    display: flex;
    text-align: start;
    flex-direction: column;
    top: 80px;
    right: 30px;
    width: 270px;
    padding: 1em 1em 2.5em 1em;
    border-radius: 20px;
    font-weight: normal;
    box-shadow: 4px 4px 8px black;
    background-color: rgb(191, 230, 243);
    font-size: 12px;
}

.infoPerfil .nombreCompleto {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #08274c;
}

.infoPerfil span {
    font-weight: bold;
}

.infoPerfil .id span {
    font-size: 10px;
}

.infoPerfil div {
    padding: .7em;
}

.infoPerfil .imgPerfil {
    align-self: center;
}

.infoPerfil .imgPerfil img {
    width: 90px !important;
    box-shadow: 2px 2px 4px black;
}

#tituloListEmpleado {
    color: #00365A;
    text-align: center;
    margin-bottom: 0.3em;
}
*/
#exampleModal {

    position: absolute;
}