* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

*:hover {
    text-decoration: none;
}

hr {
    color: red;
}

.noColapsarContenido {
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: 80px repeat(3,1fr);
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-areas:
    "menu menu menu menu"
    "asidePrincipal main main main"
    "asidePrincipal main main main"
    "asidePrincipal main main main"; 
}

.colapsarContenido {
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: 80px repeat(3,1fr);
    grid-template-columns: 60px repeat(3,1fr);
    grid-template-areas:
    "menu menu menu menu"
    "asidePrincipal main main main"
    "asidePrincipal main main main"
    "asidePrincipal main main main"; 
}

#tablaEmpleados_wrapper {
    width: 100%;
    position: relative !important;
}

@media only screen and (max-width: 992px) {
    #contenido {
        grid-template-rows: 80px repeat(3,1fr) 70px;
        grid-template-columns: repeat(4,1fr);
        height: 200vh;
        grid-template-areas:
        "menu menu menu menu"
        "main main main main"
        "main main main main"
        "main main main main"
        "asidePrincipal asidePrincipal asidePrincipal asidePrincipal";  
    }

    .noColapsarContenido {
        all: unset;
    }

    .colapsarContenido {
        all: unset;
    }
}

/* TABLA  EMPLEADOS */

#tablaEmpleados_length {
    padding-bottom: 1.5em;
}

#tablaEmpleados_wrapper .row {
    padding: 20px 0px;
}

#tablaEmpleados input[type=image] {
    width: 35px;
    height: 35px;
}

#tablaEmpleados thead, #tablaEmpleados tbody tr {
    height: 55px;
    width: auto;
}

#tablaEmpleados thead {
    background-color: #055759;
    color: white;
}

#tablaEmpleados thead th {
    padding-left: 20px;
    text-align: center;
}

#tablaEmpleados thead th:first-child {
    width: 70px !important;
    padding: 0px !important;
}

#tablaEmpleados thead th:last-child {
    width: 70px !important;
}

#tablaEmpleados thead th:last-child, #tablaEmpleados thead th:first-child {
    cursor: unset;
    width: 10px;   
}

#tablaEmpleados tbody td:last-child, #tablaEmpleados tbody td:first-child {
    display: flex;
    justify-content: center;
    width: 100px;
}

#tablaEmpleados thead th:last-child::before, #tablaEmpleados thead th:first-child::before {
    content: '';
}

#tablaEmpleados thead th:last-child::after, #tablaEmpleados thead th:first-child::after {
    content: '';
}

#tablaEmpleados tbody td {
    text-align: center;
}

.dtr-title {
    white-space: nowrap;
}

.dtr-data {
    white-space: nowrap;
}

#tablaEmpleados {
    background-color: white;
}

#tablaEmpleados td.child {
    background-color: white;
}

#tablaEmpleados td.child ul {
    width: 100%;
}

#tablaEmpleados td.child li {
    text-align: left;
    padding-left: 15px;
    width: 100%;
}

#tablaEmpleados_info {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: clip;
}

ul.dtr-details {
    margin: 0 auto;
}

.imgEmpleadoTabla {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.imgEmpleadoTabla img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 100%;
}

@media only screen and (max-width: 850px) {
    .imgEmpleadoTabla {
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
    }
}

.divBtnEmpleado {
    height: 65px;
    display: flex;
    align-items: center;
    width: 70px;
}

.divBtnEmpleado input:hover {
    cursor: pointer;
}

.btnEditar {
    background-color: rgb(161, 79, 202);
    padding: .5em;
    border-radius: 10px 0px 0px 10px;
    transition: 0.3s;
}

.btnEliminar {
    background-color: rgb(255, 81, 81);
    padding: .5em;
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s;
}

.btnEditar:hover {
    background-color: rgb(154, 57, 202);
}

.btnEliminar:hover {
    background-color: red;
}

.mensajeInfo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#exampleModal {
    position: absolute;
}

.dataTables_empty {
    position: absolute;
    width: 100% !important;
}